<h1>Place Order</h1>
<form action="shopping-cart" method="POST">
    <input type="text" name="user_ID" placeholder="user_ID" autofocus>
    <input type="text" name="cliente" placeholder="cliente">
    <input type="text" name="orden" placeholder="orden">
    <input type="text" name="driver" placeholder="driver">
    <input type="text" name="total" placeholder="total">
    <input type="text" name="estado" placeholder="estado">
    <button>Enviar</button>

</form>