    <div class="orders-limiter" id="carrito-box">
            {{!-- <b>
                <div class="cart-order">
                    <p class="cart-order-title">Lorem Ipsum</p>
                    <b><div class="cart-counter">
                            <span class="cart-span">-</span>
                            <span class="cart-span">1</span>
                            <span class="cart-span">+</span>
                    </div></b>
                    <span>$<span>8.50</span></span>
                    <img class="x" src="img/x.svg">
                </div>
                <textarea class="cart-comment" placeholder="Add details"></textarea>
            </b> --}}
    </div>
    <div class="cart-total-container">
        <div class="cart-labels">
            sub total<br>
            taxes<br>
            extra fees<br>
            total
        </div>
        <div class="fees">
            <span>17.00</span><br>
            <span>xx.xx</span><br>
            <span>5.59</span><br>
            <span id="total">22.59</span>
        </div>
    </div>
    <a class="checkout-button" href="/checkout-button">CHECK OUT</a>
<script src="js/carrito.js"></script>