<div class="noodles">
    <div class="blurr">
        <img class="food-logo  hide" src="/img/food-logo.svg">
        <p class="green-welcome hide">welcome</p>
        
        <p class="login-title">LOGIN</p>
        <form action="/login" method="POST" class="login-form">
            <input class="login-inputs" name="email" placeholder="email"><br><br><br>
            <input class="login-inputs" name="pwd" placeholder="password"><br>
            <button  class="login-button"><img src="img/login-button.svg"></button>
        </form>
        <br><br><br><br><br><br>
        <a class="register-link" href="/register">NEW ACCOUNT</a><br>
        <a class="forgottenpassword-link" href="/categories">FORGOT PASSWORD</a>
    </div>
</div>