<p></p>
{{!-- <div id="map"></div>
<button>Move</button>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcZiRMr33aOezes8F8JKcTSB0PUvWTuGc"></script>
<script src="/js/geo.js"></script> --}}

 <div id="mapid"></div>

 <script src="/js/geo.js"></script>