<div class="orders-history-tracker">
    <img class="orders-history-marker" src="img/gps-marker.svg">
    <p class="orders-history-tracking-warning">
    <span class="tracking-order-flash">You have an order on its way</span><br>
    Click here to track it!
    </p>
</div>
<div class="orders-history-limiter">
    <div class="order-history-container">
        <div class="date">
            <div class="time">07:49</div>
            <div class="day">14</div>
            <div class="month">DEC</div>
        </div>
        <div class="driver-cont">
            <img class="driver-pic" src="/img/drivers/michael.jpg">
            <span style="margin-left:20px;">
                <span class="order-status-onitsway">...on it's way</span><br>
                <span class="my-driver-lable">My driver:</span><br>
                <span class="drivers-name">Michael</span><br>
            </span>
        </div>
        <span class="to-pay-price">
                <span>$</span>
                <span id="to-pay-price">14.50</span>
        <span>
    </div>
</div>
<div class="load-more">LOAD MORE</div>