<div class="noodle-container">
    <div class="noodles">
        <div class="blurr">
           
            <p class="signup-title">Sign up</p>
            <span id='errormsg'></span>
            <form action="/register" method="POST" class="login-form" id="form">
                <input id="name" class="login-inputs" name="name" placeholder="name"><br><br>
                <input id="last" class="login-inputs" name="last" placeholder="last name"><br><br>
                <input id="number" class="login-inputs" name="number" placeholder="phone number"><br><br>
                <input id="address" class="login-inputs" name="address" placeholder="address"><br><br>
                <input id="email" class="login-inputs" name="email" placeholder="email"><br><br>
                <input id="password" class="login-inputs" type="password" name="pwd" placeholder="password"><br><br>
                <input id="password2" class="login-inputs" type="password" name="repeat-pwd" placeholder="repeat password"><br>
            </form>
            <button id="form-button" class="login-button"><img src="img/login-button.svg"></button>
        </div>
    </div>
    <script src="js/register.js"></script>