{{!-- {{#if user}}
    <a href="/profile">Profile</a>
    <a href="/gps">GPS</a>
{{else}}
    
{{/if}} --}}

    <div class="wine">
        <div class="darken">
            <h1 class="wineTitle">WELCOME</h1>
            <p class="wineText">
                This is a web application that<br>
                can be adapted to work for<br>
                your restaurant where you can<br>
                cuztomize it and make it your<br>
                own
            </p>
            <a href="/choose-role"><p class="ready">READY</p><img class= "cir-arrow" src="img/cir-arrow.svg"></a>
        </div>
        
    </div>
