@font-face {
  font-family: cogooose-ultra-light;
  src: url(../fonts/Cocogoose-Pro-Ultralight.ttf);
}

@font-face {
  font-family: five-reg;
  src: url(../fonts/FivoSans-Regular.otf);
}

@font-face {
  font-family: offerings-reg;
  src: url(../fonts/Offerings-Regular.otf);
}

@font-face {
  font-family: FivoSans-Light;
  src: url(../fonts/FivoSans-Light.otf);
}

@font-face {
  font-family: freestyle-font;
  src: url(../fonts/FREESCPT.TTF);
}

@font-face {
  font-family: vegan-style-font;
  src: url(../fonts/Vegan-Style.ttf);
}

@font-face {
  font-family: fivosans-thing-oblique;
  src: url(../fonts/FivoSans-Thin-Oblique.otf);
}

@font-face {
  font-family: cogooose-reg;
  src: url(../fonts/Cocogoose-reg.ttf);
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  background-color: #191516;
}

html {
  height: -webkit-fill-available;
}

.container {
  color: #eaeaea;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.limiter {
  position: relative;
  min-width: 360px;
  max-width: 411px;
  width: 100%;
}

.wine {
  min-width: 360px;
  max-width: 411px;
  width: 100%;
  height: 100%;
  max-height: 823px;
  background-image: url("../img/wine.jpg");
  background-size: auto 100vh;
  background-repeat: no-repeat;
  position: relative;
  font-family: cogooose-ultra-light;
}

.darken {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.wineTitle {
  font-weight: 300;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 30px;
  font-size: 28px;
}

.wineText {
  line-height: 150%;
  margin-left: 30px;
  font-size: 12px;
}

.ready {
  font-weight: 300;
  font-family: cogooose-reg;
  font-size: 40px;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 65px;
  margin: 0px;
}

.cir-arrow {
  position: absolute;
  bottom: 23px;
  right: 15px;
  width: 38px;
}

a {
  color: white;
}

.role {
  cursor: pointer;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: cogooose-reg;
  font-size: 32px;
  margin-bottom: 0;
}

.wine-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #eaeaea;
  height: 100vh;
}

.noodles {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 360px;
  max-width: 411px;
  min-height: 100vh;
  background-image: url("../img/noodles.jpg");
  background-size: 411px auto;
  background-repeat: repeat-y;
  position: relative;
  font-family: cogooose-ultra-light;
}

.food-logo {
  width: 200px;
}

.green-welcome {
  color: #c6e50e;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.75);
  font-family: cogooose-reg;
  font-size: 20px;
}

.hide {
  display: none;
}

.lighten {
  background-color: rgba(255, 255, 255, 0.13);
}

.blurr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 100vh;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.login-title {
  color: white;
  font-size: 30px;
  margin-bottom: 60px;
  font-weight: 300;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-inputs {
  text-align: center;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #c6e50e;
}

::-webkit-input-placeholder {
  color: white;
  font-family: fivosans-thing-oblique;
  font-size: 15px;
}

:-ms-input-placeholder {
  color: white;
  font-family: fivosans-thing-oblique;
  font-size: 15px;
}

::-ms-input-placeholder {
  color: white;
  font-family: fivosans-thing-oblique;
  font-size: 15px;
}

::placeholder {
  color: white;
  font-family: fivosans-thing-oblique;
  font-size: 15px;
}

.login-button {
  border: none;
  outline: none;
  display: inline-block;
  background: transparent;
  width: 100px;
  margin-top: 0px;
}

.register-link {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.forgottenpassword-link {
  color: white;
  font-size: 13px;
  text-decoration: none;
}

.signup-title {
  color: white;
  font-size: 28px;
  margin-bottom: 60px;
}

.category-container {
  opacity: 1;
  -webkit-box-shadow: 2px 2px 7px 3px rgba(0, 0, 0, 0.31);
          box-shadow: 2px 2px 7px 3px rgba(0, 0, 0, 0.31);
  width: 324px;
  height: 114px;
  position: relative;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drag {
  height: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 350px;
  background-color: white;
  border-radius: 5px 0px 0px 5px;
  cursor: all-scroll;
  position: absolute;
  z-index: 3;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.draggable-dots {
  pointer-events: none;
  width: 15px;
  padding: 0 5px;
}

.images-cont {
  background-color: white;
  position: relative;
  display: inline-block;
  width: 324px;
  height: 100%;
}

.cat-style-1-img1 {
  position: absolute;
  left: 0;
  height: 100%;
}

.cat-style-1-img2 {
  position: absolute;
  right: 0;
  height: 100%;
}

.cat-style-3-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 270px;
  height: 114px;
  position: absolute;
  right: 0;
}

.cat-style-4-img1 {
  position: absolute;
  left: 15%;
  z-index: 2;
  height: 90%;
  bottom: 0;
}

.cat-style-4-img2 {
  position: absolute;
  left: 39%;
  z-index: 2;
  height: 80%;
}

.cat-style-4-img3 {
  position: absolute;
  right: 15%;
  z-index: 2;
  height: 90%;
  bottom: 0;
}

.cat-style-1-template-left {
  position: absolute;
  left: 0;
  z-index: 2;
  height: 100%;
}

.cat-style-1-template-right {
  position: absolute;
  right: 0;
  z-index: 2;
  height: 100%;
}

.cat-style-4-template {
  position: absolute;
  z-index: 2;
  height: 80%;
  left: 23%;
  bottom: 0;
}

.cat-text-container {
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cat-text-container-style-2 {
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cat-text-container-style-3 {
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cat-text-container-style-4 {
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cat-title1 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: vegan-style-font;
  font-size: 35px;
  color: black;
  margin-bottom: 0px;
  margin-top: 0px;
}

.cat-title2 {
  position: absolute;
  font-family: vegan-style-font;
  font-size: 35px;
  color: black;
  margin-bottom: 0px;
  margin-top: 0px;
}

.cat-title3 {
  position: absolute;
  font-family: vegan-style-font;
  font-size: 35px;
  color: black;
  margin-bottom: 0px;
  margin-top: 0px;
}

.cat-title4 {
  position: absolute;
  font-family: vegan-style-font;
  font-size: 35px;
  color: black;
  margin-bottom: 0px;
  margin-top: 0px;
}

.cat-subtitle1 {
  color: #f31212;
  font-family: freestyle-font;
  margin: 0;
  font-size: 20px;
  line-height: 70%;
  margin-top: 5px;
  text-align: center;
  margin-top: 0;
  width: 140px;
  position: absolute;
}

.cat-subtitle2 {
  color: #399316;
  font-family: freestyle-font;
  margin: 0;
  font-size: 20px;
  line-height: 70%;
  margin-top: 5px;
  text-align: center;
  margin-top: 0;
  width: 140px;
  margin-right: 5px;
  position: absolute;
}

.cat-subtitle3 {
  position: absolute;
  color: #ba6b05;
  font-family: freestyle-font;
  margin: 0;
  font-size: 20px;
  line-height: 70%;
  text-align: center;
  margin-top: 0;
  width: 140px;
  margin-right: 0px;
}

.cat-subtitle4 {
  position: absolute;
  color: #ba6b05;
  font-family: freestyle-font;
  margin: 0;
  font-size: 20px;
  line-height: 70%;
  text-align: center;
  width: 140px;
}

.dish-bg {
  width: 100%;
  height: 300px;
  position: relative;
  display: block;
}

.dish-image {
  height: 100%;
  position: absolute;
}

.black-gradient {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: offerings-reg;
}

.dish-title {
  margin-left: 20px;
  font-size: 30px;
  margin-bottom: 5px;
}

.dish-subtitle {
  margin-left: 20px;
  margin-bottom: 15px;
  margin-top: 0;
  font-size: 18px;
}

.carrito {
  width: 65px;
  position: fixed;
  bottom: 7px;
  right: 7px;
  z-index: 99;
}

.cart-order-title {
  width: 120px;
}

.dish-main-image {
  height: 366px;
  position: relative;
  width: 100%;
}

.dish-main-pic {
  height: 100%;
  position: absolute;
}

.white-backdrop {
  position: absolute;
  bottom: 0;
  height: 130px;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, white 30%, rgba(255, 255, 255, 0) 100%);
  font-family: FivoSans-Light;
  color: black;
}

.white-fill {
  background-color: white;
  width: 100%;
  height: 100%;
  margin-top: -30px;
  position: absolute;
}

.like-counter-heart {
  margin-left: 10px;
  width: 20px;
}

.center-text-horizontally {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.broken-heart {
  margin-left: 20px;
  width: 40px;
}

.whole-heart {
  width: 40px;
}

.dish-upper-part {
  color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dish-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  background-color: #c6e50e;
  height: 40px;
  width: 40px;
}

.dish-counter {
  margin-right: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dish-dish-title {
  font-size: 15px;
  font-family: cogooose-reg;
  margin: 0;
}

.dish-price-cont {
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: offerings-reg;
  color: black;
}

.dish-quantity {
  font-family: offerings-reg;
  color: black;
}

.dish-description {
  margin-left: 20px;
  margin-right: 35px;
  font-family: offerings-reg;
  color: #565656;
  overflow: auto;
  height: 120px;
}

.add-to-cart-button {
  background-color: #c6e50e;
  color: black;
  width: 90%;
  position: absolute;
  bottom: 15px;
  left: 5%;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: offerings-reg;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.orders-limiter {
  overflow: auto;
  margin: 40px 10% 0px 10%;
  width: 80%;
  height: 70%;
}

.cart-order {
  font-family: offerings-reg;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
}

.cart-counter {
  font-family: offerings-reg;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 50px;
  color: #c6e50e;
  border: solid 1px;
}

.cart-span {
  color: black;
  padding-right: 10px;
  padding-left: 10px;
}

.x {
  width: 12px;
}

textarea::-webkit-input-placeholder {
  color: #919191;
  font-family: offerings-reg;
  font-size: 15px;
  font-weight: bold;
}

textarea:-ms-input-placeholder {
  color: #919191;
  font-family: offerings-reg;
  font-size: 15px;
  font-weight: bold;
}

textarea::-ms-input-placeholder {
  color: #919191;
  font-family: offerings-reg;
  font-size: 15px;
  font-weight: bold;
}

textarea::placeholder {
  color: #919191;
  font-family: offerings-reg;
  font-size: 15px;
  font-weight: bold;
}

textarea {
  border: none;
  outline: none;
  border-bottom: 2px solid #c6e50e;
  background: transparent;
  width: 100%;
  height: 18px;
}

.cart-total-container {
  font-family: offerings-reg;
  color: black;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 70px;
}

.cart-labels {
  width: 80px;
}

.fees {
  width: 80px;
  text-align: right;
  margin-right: 20px;
}

.checkout-button {
  width: 90%;
  height: 50px;
  color: black;
  font-family: offerings-reg;
  font-weight: bold;
  background-color: #c6e50e;
  margin-right: 5%;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 10px;
}

.orders-history-tracker {
  width: 84%;
  margin-top: 30px;
  margin-left: 8%;
  margin-right: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.orders-history-marker {
  width: 60px;
}

.orders-history-tracking-warning {
  margin-left: 20px;
  color: black;
  display: inline-block;
  font-family: offerings-reg;
  font-weight: bold;
}

.tracking-order-flash {
  color: red;
}

.order-history-container {
  color: black;
  font-family: offerings-reg;
  font-weight: bold;
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-history-container {
  margin-top: 15px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.driver-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.driver-pic {
  border-radius: 100%;
  border: solid 2px #c6e50e;
}

.order-status-onitsway {
  color: red;
  font-family: five-reg;
  font-size: 12px;
}

.drivers-name {
  font-size: 25px;
  line-height: .8;
}

.my-driver-lable {
  font-size: 15px;
}

.load-more {
  width: 90%;
  height: 50px;
  color: black;
  font-family: offerings-reg;
  font-weight: bold;
  background-color: #c6e50e;
  margin-right: 5%;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 10px;
}

.orders-history-limiter {
  width: 100%;
  height: 70vh;
}

.role-description {
  margin-left: 30px;
  width: 80%;
  font-family: cogooose-ultra-light;
  margin-top: 0;
  height: 0px;
  overflow: hidden;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.transform-active-user {
  height: 78px;
}

.transform-active-manager {
  height: 60px;
}

.transform-active-delivery-person {
  height: 96px;
}

#errormsg {
  display: inline-block;
  height: 18px;
  padding: 10px 10px 10px 10px;
  margin: -50px -10px 20px -10px;
  font-weight: 500;
}

.errormsgcolor {
  background-color: rgba(255, 0, 0, 0.5);
}

.no-display {
  display: none;
}

.dot {
  width: 18px;
  position: absolute;
  cursor: pointer;
}

.cat-style-1-template-dot-left {
  top: 45%;
  left: 35px;
}

.cat-style-1-template-dot-right {
  top: 45%;
  right: 20px;
}

.cat-style-2-template-dot-left {
  top: 45%;
  left: 80px;
}

.cat-style-3-template-dot-right {
  top: 45%;
  right: 80px;
}

.cat-style-4-template-dot-1 {
  z-index: 3;
  top: 45%;
  left: 70px;
}

.cat-style-4-template-dot-2 {
  z-index: 3;
  top: 15%;
  left: 46%;
}

.cat-style-4-template-dot-3 {
  z-index: 3;
  top: 45%;
  right: 70px;
}

.title-edit {
  position: absolute;
  text-align: center;
  display: inline-block;
  color: black;
  background-color: transparent;
  min-width: 50px;
  min-height: 28px;
  border: rgba(0, 108, 230, 0.3) dashed 2px;
  padding: 0px 20px 0px 15px;
  margin-bottom: -10px;
  outline: none;
}

.subtitle-edit {
  background-color: rgba(255, 255, 255, 0.7);
  outline: none;
  min-width: 50px;
  border: rgba(255, 0, 0, 0.3) dashed 2px;
  padding: 0px 10px 0px 10px;
}

.draggable {
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  color: black;
  cursor: move;
}

.dragging {
  opacity: .3;
}

.draggable.dragging {
  opacity: .7;
}

.edit-btn-spacer {
  height: 100px;
  width: 100%;
}

.editSVG {
  position: fixed;
  width: 50px;
  bottom: 10px;
  left: 50%;
  z-index: 99;
  -webkit-transform: translateX(-190px);
          transform: translateX(-190px);
}

.addSVG {
  position: fixed;
  width: 50px;
  bottom: 10px;
  left: 50%;
  z-index: 99;
  -webkit-transform: translateX(55px);
          transform: translateX(55px);
}

.moveSVG {
  position: fixed;
  width: 50px;
  bottom: 10px;
  left: 50%;
  z-index: 99;
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
}

.cameraSVG {
  position: fixed;
  width: 50px;
  bottom: 10px;
  left: 50%;
  z-index: 99;
  -webkit-transform: translateX(-105px);
          transform: translateX(-105px);
}

.deleteSVG {
  position: fixed;
  width: 50px;
  bottom: 10px;
  left: 50%;
  z-index: 99;
  -webkit-transform: translateX(140px);
          transform: translateX(140px);
}

.upload-photo {
  background-color: #fff9e1;
  height: 100vh;
  width: 411px;
  position: absolute;
  z-index: 98;
  display: none;
}

.upload-imgs-cont {
  margin-top: 50px;
  stroke: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.img-upload {
  border: solid 1px yellow;
  width: 280px;
  height: 280px;
  background-color: white;
  background-image: url("../img/camera-gray.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.img-upload::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 240px;
  height: 279px;
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
  background: #0b6af8;
  background: -webkit-gradient(linear, left top, right top, from(#0b6af8), to(#9b31ed));
  background: linear-gradient(90deg, #0b6af8 0%, #9b31ed 100%);
}

.upload-buttons-main-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 30px;
}

.upload-imgs-btns {
  font-family: five-reg;
  font-size: 14px;
  color: white;
  background-color: #ff5400;
  padding: 10px 20px;
  width: 200px;
  margin-top: 22px;
}

.center-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.center-text::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 324px;
  height: 114px;
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
  background: #0b6af8;
  background: -webkit-gradient(linear, left top, right top, from(#0b6af8), to(#9b31ed));
  background: linear-gradient(90deg, #0b6af8 0%, #9b31ed 100%);
}

.canvas-shadow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2px;
  -webkit-box-shadow: inset 3px 3px 0 0 #fff9e1, inset 0 0 3px 3px transparent;
          box-shadow: inset 3px 3px 0 0 #fff9e1, inset 0 0 3px 3px transparent;
  background: -webkit-gradient(linear, left top, right top, from(#0b6af8), to(#9b31ed));
  background: linear-gradient(to right, #0b6af8, #9b31ed);
}

label {
  display: inline-block;
}

input[type="file"] {
  display: none;
}

.preview {
  overflow: hidden;
  width: 98.22px;
  height: 114px;
}

.cropper-container {
  border: solid 2px yellow;
}

.example-img {
  width: 300px;
  margin: 20px auto;
  margin-left: 50px;
}
/*# sourceMappingURL=adminStyles.css.map */