<nav class="navbar">
    {{!-- <img src="img/back_bracket2.svg" class="back brightness">
    <img src="img/burger_menu2.svg" class="menuburger brightness"> --}}
    {{!-- {{#if user}}
    <p><i>You are logged in {{user.1.Title}}</i></p>
    <a href="logout">Log out</a>
    {{/if}} --}}

</nav> 