<h3>Signup</h3>
<form action="signup" method="POST">
    <input type="text" name="name" placeholder="Primer Nombre" autofocus>
    <input type="text" name="last" placeholder="Apellidos">
    <input type="text" name="number" placeholder="Número de teléfono">
    <input type="text" name="address" placeholder="Dirección">
    <input type="text" name="email" placeholder="Correo electrónico">
    <input type="password" name="pwd" placeholder="Contraseña">
    <input type="password" name="confimr_password" placeholder="Repetir contraseña">
    <button>Sign up!</button>
</form>